priority 10

## My own snippets

## Anonymous function (callback)
snippet af "Anonymous function"
function($1) {
	${VISUAL}$0
}
endsnippet

snippet : "key: value"
${1:key}: ${2:value}
endsnippet
# # vim:ft=snippets:
